<p id="notice"><%= notice %></p>

<p>
  <strong>Buyer:</strong>
  <%= @order.buyer %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Price:</strong>
  <%= @order.price %>
</p>

<% if @order.paid? %>
  <p>
    此訂單已付款
  </p>
<% else %>
  <%= render_payment_service_button(@order, "credit_card") %>
  <%= render_payment_service_button(@order, "cvs") %>
  <%= render_payment_service_button(@order, "atm") %>
<% end %>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
